<div class="inner-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1><strong>Movie Match</strong>  |  Login</h1>
                <div class="description">
                  <p>Please login to begin matching or view your profile. Please click the 'Create an Account'
      button if you haven't set one up yet.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3><strong>Start Matching Now:</strong></h3>
                </div>
                <div class="form-top-right">
                  <i class="fa fa-lock"></i>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <%= link_to  new_registration_path(resource_name) do%><span style="color:black"><button type="button" class="btn btn-block">Create an Account</button></span><%end%>
                    <p class="text-center">- or -</p>
                    <p class="text-center">Enter your username and password to log on:</p>
                  </div>
                </div>
              </div>
              <div class="form-bottom">

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <form role="form" action="" method="post" class="login-form">
                <div class="form-group">
                  <label class="sr-only" for="user_email">Email</label>
                    <%= f.text_field :email, autofocus: true, placeholder: "Email...",  class: "form-username form-control", id: "form-username"%>
                    <!-- <input type="text" name="form-username" placeholder="Username..." class="form-username form-control" id="form-username"> -->
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="user_password">Password</label>
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Password...", class: "form-password form-control" ,id: "form-password" %>
                    <!-- <input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password"> -->
                  </div>
                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>
                  <button type="submit" class="btn">Sign in!</button>
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                  <% end -%>
              <% end %>
              </form>
            </div>
            </div>
        </div>
    </div>
</div>
